html {
    font-size: 15px;
    background-color: $bg;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    overflow-x: hidden;
}

@font-face {
    font-family: Aerioz;
    src: url('../font/Aerioz.ttf') format('truetype');
}

//NAVBAR
nav {
    ul {
        margin: 0 auto;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    li {
        font-family: 'Gotham', Helvetica, sans-serif;
        font-size: .73rem;
        font-weight: 600;
        list-style: none;
        margin: 20px;
        @media screen and (max-width: $mobile) {
            margin: 20px 8px;
        }
        a {
            text-decoration: none;
            color: $gray;
            margin: 20px 0
        }
    }
    img {
        max-width: .73rem;
    }
    .row {
        margin: 0 auto;
        padding: 0;
    }
    display: flex;
}

hr {
    margin: 0;
}

.brand {
    margin: 20px 0 80px;
    @media screen and (max-width: $mobile) {
        margin: 20px 0 40px;
    }
    .row {
        margin: 0;
        padding: 0;
        .col {
            padding: 0;
        }
    }
    address,
    p {
        font-family: Baskerville, 'Times New Roman', Times, serif;
        font-style: italic;
        font-size: 1rem;
        line-height: 1.1rem;
        text-align: center;
        color: #B6B2AD;
        margin: 0;
        display: flex;
        @media screen and (max-width: $mobile) {
            justify-content: center;
            margin: 40px 0;
            font-size: 1.3rem;
            line-height: 1.6rem;
        }
    }
    img {
        max-width: 100%;
    }
    display: flex;
    justify-content: space-between;
    align-items:center;
}

section {
    h1 {
        font-family: Gotham, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 40px;
        letter-spacing: 4px;
        color: $red;
        text-align: center;
        margin-bottom: 20px;
    }
    hr {
        border: solid rgb(236, 236, 236) 1px;
        width: 15%;
        margin: 30px auto 50px;
        @media screen and (max-width: $mobile) {
            margin: 30px auto 0px;
        }
    }
    .menu {

        font-family: Aerioz;

        @media screen and (max-width: $mobile) {
            margin-top: 50px;
            
        }
    }
    h2 {
        font-family: Gotham, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 3px;
        color: $bg;
        background-color: $red;
        text-align: center;
        padding: 15px;
        width: 65%;
        margin: 20px auto 0;
        @media screen and (max-width: 1410px) {
            font-size: 17px;
        }
    }
    p {
        font-family: Baskerville, 'Times New Roman', Times, serif;
        font-size: 1.2rem;
        color: $gray;
        text-align: center;
        margin: 45px 0 100px;
        line-height: 1.8rem;
       
    }
    
    header {
        margin-top: 50px;
        @media screen and (max-width: $mobile) {
            margin-top: 0;
        }
    }
    .relative {
        position: relative;
        bottom: 50%;
        margin: 0;
        display: flex;
        text-decoration: none;
        justify-content: center;
        color: $red;
        font-size: 6rem;
        text-align: center;

              
       
       

        @media screen and (max-width: $mobile) {
            font-size: 3.5rem;
        }
    }
}

#storia {
    margin: 900px auto 180px;
    @media screen and (max-width: $tablet-landscape) {
        margin: 660px auto 180px;
    }
    @media screen and (max-width:$mobile-landscape) {
        margin: 250px auto 180px;
    }
    @media screen and (max-width: $tablet) {
        margin: 520px auto 100px;
    }
    @media screen and (max-width: $mobile) {
        margin: 200px auto 100px;
    }
    p {
        font-family: Baskerville, 'Times New Roman', Times, serif;
        font-size: 1.2rem;
        color: $gray;
        text-align: center;
        margin: 20px 0;
        line-height: 1.8rem;
    }
}

#giornata {
    margin: 900px auto 0;
    justify-content: space-evenly;
    @media screen and (max-width: $tablet-landscape) {
        margin: 660px auto 0;
    }
    @media screen and (max-width:$mobile-landscape) {
        margin: 250px auto 0;
    }
    @media screen and (max-width: $tablet) {
        margin: 520px auto 0;
    }
    @media screen and (max-width: $mobile) {
        margin: 200px auto 0px;
    }
}

#contatti {
    .row {
        @media screen and (max-width: $tablet-landscape) {
            justify-content: center;
        }
    }
    p {
        font-family: Gotham, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 0.8rem;
        color: #726860;
        text-align: center;
        margin: 30px 0 0 0;
    }
}

#contatti {
    :last-child {
        margin: 0 auto;
        @media screen and (min-width: $desktop) {
            :first-child {
                margin: 0;
            }
        }
    }
    p {
        font-family: Gotham, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 0.8rem;
        color: #726860;
        text-align: center;
        margin: 30px 0 0 0;
    }
    hr {
        margin: 20px auto 10px
    }
    span {
        address,
        p {
            font-family: Baskerville, 'Times New Roman', Times, serif;
            font-style: italic;
            font-weight: 300;
            font-size: 1rem;
            color: #B6B2AD;
            text-align: center;
            line-height: 1.3rem;
            @media screen and (max-width: $mobile) {
                font-size: 1.2rem;
                line-height: 1.6rem;
            }
            margin:0;
        }
        header {
            margin: 80px auto;
        }
    }
    header {
        margin: 80px auto;
    }
    .maps {
        height: 300px;
        @media screen and (min-width: $desktop) {
            height: auto;
        }
    }
}

//SLIDER
.slider {
    position: relative;
    width: 100%;
    transition: all .5s ease;
    header {
        position: absolute;
        padding: 0 10%;
        top: 350px;
        color: #fff;
        width: 45%;
        left: 18%;
        z-index: 1;
        @media screen and(max-width: $tablet-landscape) {
            width:90%;
            top: 270px;
            left: -5%;
        }
        @media screen and(max-width:$mobile-landscape) {
            width: 90%;
            top: 100px;
            left: -5%;
        }
    }
    figure {
        height: 896px;
        overflow: hidden;
        display: flex;
        align-items: center;
        margin: 0;
        opacity: 0;
        transition: all 0.5s ease;
        position: absolute;
        &.active {
            opacity: 1;
        }
        &.deactive {
            opacity: 0;
        }
        @media screen and(max-width:$tablet-landscape) {
            height: auto;
        }
    }
    img {
        max-width: 100%;
    }
    ol {
        position: absolute;
        top: 800px;
        display: flex;
        justify-content: center;
        width: 100%;
        z-index: 2;
        list-style: disc;
        position: relative;
        @media screen and (max-width: $tablet-landscape) {
            top:600px;
        }
        @media screen and (max-width:$tablet) {
            top: 440px;
        }
        @media screen and (max-width:$mobile-landscape) {
            top: 180px;
        }
        li {
            cursor: pointer;
            transition: all .3s ease;
            color: #fff;
            opacity: 0.4;
            font-size: 56px;
            padding: 0 .5rem;
            margin: 0 12px;
            &:hover,
            &:focus,
            &.active {
                opacity: 1;
            }
        }
    }
} //SLIDER2
.slider2 {
    position: relative;
    width: 100%;
    transition: all .5s ease;
    header {
        position: absolute;
        padding: 0 10%;
        top: 350px;
        color: #fff;
        width: 45%;
        left: 18%;
        z-index: 1;
        @media screen and(max-width: $tablet-landscape) {
            width:90%;
            top: 270px;
            left: -5%;
        }
        @media screen and(max-width:$mobile-landscape) {
            width: 90%;
            top: 100px;
            left: -5%;
        }
    }
    figure {
        height: 896px;
        overflow: hidden;
        display: flex;
        align-items: center;
        margin: 0;
        opacity: 0;
        transition: all 0.5s ease;
        position: absolute;
        &.active {
            opacity: 1;
        }
        &.deactive {
            opacity: 0;
        }
        @media screen and(max-width:$tablet-landscape) {
            height: auto;
        }
    }
    img {
        max-width: 100%;
    }
    ol {
        position: absolute;
        top: 800px;
        display: flex;
        justify-content: center;
        width: 100%;
        z-index: 2;
        list-style: disc;
        position: relative;
        @media screen and (max-width: $tablet-landscape) {
            top:600px;
        }
        @media screen and (max-width:$tablet) {
            top: 440px;
        }
        @media screen and (max-width:$mobile-landscape) {
            top: 180px;
        }
        li {
            cursor: pointer;
            transition: all .3s ease;
            color: #fff;
            opacity: 0.4;
            font-size: 56px;
            padding: 0 .5rem;
            margin: 0 12px;
            &:hover,
            &:focus,
            &.active {
                opacity: 1;
            }
        }
    }
}

footer#main-footer {
    width: 100%;
    min-height: 15rem;
    background: $red;
    margin-top: 100px;
}

footer {
    .row {
        margin: 10px auto;
        padding: 0;
    }
    display: flex;
    flex-wrap: wrap;
    ul {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    img {
        max-width: .73rem;
    }
    li {
        font-family: 'Gotham', Helvetica, sans-serif;
        font-size: .73rem;
        font-weight: 600;
        list-style: none;
        margin: 20px;

    
        @media screen and (max-width: $mobile) {
            margin: 10px;

           
        }

        
        a {
            text-decoration: none;
            color: $darkred;
            transition: .3s all;
            &:hover{
                color: $bg;}
       
            i {
                font-size: 3.2rem;
                font-weight: 100;

             
            }
        }
    }
    #wifi {
        height: 50px;
        max-width: 100%;
    }
    p {
        font-family: 'Gotham', Helvetica, sans-serif;
        font-size: .6rem;
        color: $darkred;
        margin: 20px 0;
    }
}