.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .container {
    width: 85%;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 45%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.row .col {
  padding: 0 1rem;
  box-sizing: border-box;
}

.row .col.s1 {
  flex: 1 0 8.33333%;
}

.row .col.s2 {
  flex: 1 0 16.66667%;
}

.row .col.s3 {
  flex: 1 0 25%;
}

.row .col.s4 {
  flex: 1 0 33.33333%;
}

.row .col.s5 {
  flex: 1 0 41.66667%;
}

.row .col.s6 {
  flex: 1 0 50%;
}

.row .col.s7 {
  flex: 1 0 58.33333%;
}

.row .col.s8 {
  flex: 1 0 66.66667%;
}

.row .col.s9 {
  flex: 1 0 75%;
}

.row .col.s10 {
  flex: 1 0 83.33333%;
}

.row .col.s11 {
  flex: 1 0 91.66667%;
}

.row .col.s12 {
  flex: 1 0 100%;
}

@media screen and (min-width: 736px) {
  .row .col.sl1 {
    flex: 0 1 8.33333%;
  }
  .row .col.sl2 {
    flex: 0 1 16.66667%;
  }
  .row .col.sl3 {
    flex: 0 1 25%;
  }
  .row .col.sl4 {
    flex: 0 1 33.33333%;
  }
  .row .col.sl5 {
    flex: 0 1 41.66667%;
  }
  .row .col.sl6 {
    flex: 0 1 50%;
  }
  .row .col.sl7 {
    flex: 0 1 58.33333%;
  }
  .row .col.sl8 {
    flex: 0 1 66.66667%;
  }
  .row .col.sl9 {
    flex: 0 1 75%;
  }
  .row .col.sl10 {
    flex: 0 1 83.33333%;
  }
  .row .col.sl11 {
    flex: 0 1 91.66667%;
  }
  .row .col.sl12 {
    flex: 0 1 100%;
  }
}

@media screen and (min-width: 768px) {
  .row .col.m1 {
    flex: 0 1 8.33333%;
  }
  .row .col.m2 {
    flex: 0 1 16.66667%;
  }
  .row .col.m3 {
    flex: 0 1 25%;
  }
  .row .col.m4 {
    flex: 0 1 33.33333%;
  }
  .row .col.m5 {
    flex: 0 1 41.66667%;
  }
  .row .col.m6 {
    flex: 0 1 50%;
  }
  .row .col.m7 {
    flex: 0 1 58.33333%;
  }
  .row .col.m8 {
    flex: 0 1 66.66667%;
  }
  .row .col.m9 {
    flex: 0 1 75%;
  }
  .row .col.m10 {
    flex: 0 1 83.33333%;
  }
  .row .col.m11 {
    flex: 0 1 91.66667%;
  }
  .row .col.m12 {
    flex: 0 1 100%;
  }
}

@media screen and (min-width: 1024px) {
  .row .col.ml1 {
    flex: 0 1 8.33333%;
  }
  .row .col.ml2 {
    flex: 0 1 16.66667%;
  }
  .row .col.ml3 {
    flex: 0 1 25%;
  }
  .row .col.ml4 {
    flex: 0 1 33.33333%;
  }
  .row .col.ml5 {
    flex: 0 1 41.66667%;
  }
  .row .col.ml6 {
    flex: 0 1 50%;
  }
  .row .col.ml7 {
    flex: 0 1 58.33333%;
  }
  .row .col.ml8 {
    flex: 0 1 66.66667%;
  }
  .row .col.ml9 {
    flex: 0 1 75%;
  }
  .row .col.ml10 {
    flex: 0 1 83.33333%;
  }
  .row .col.ml11 {
    flex: 0 1 91.66667%;
  }
  .row .col.ml12 {
    flex: 0 1 100%;
  }
}

@media screen and (min-width: 1280px) {
  .row .col.l1 {
    flex: 0 1 8.33333%;
  }
  .row .col.l2 {
    flex: 0 1 16.66667%;
  }
  .row .col.l3 {
    flex: 0 1 25%;
  }
  .row .col.l4 {
    flex: 0 1 33.33333%;
  }
  .row .col.l5 {
    flex: 0 1 41.66667%;
  }
  .row .col.l6 {
    flex: 0 1 50%;
  }
  .row .col.l7 {
    flex: 0 1 58.33333%;
  }
  .row .col.l8 {
    flex: 0 1 66.66667%;
  }
  .row .col.l9 {
    flex: 0 1 75%;
  }
  .row .col.l10 {
    flex: 0 1 83.33333%;
  }
  .row .col.l11 {
    flex: 0 1 91.66667%;
  }
  .row .col.l12 {
    flex: 0 1 100%;
  }
}

@media screen and (max-width: 600px) {
  .row .fw, .row .col.s1, .row .col.s2, .row .col.s3, .row .col.s4, .row .col.s5, .row .col.s6, .row .col.s7, .row .col.s8, .row .col.s9, .row .col.s10, .row .col.s11, .row .col.s12 {
    flex-basis: 100%;
  }
}

html {
  font-size: 15px;
  background-color: #fffcf1;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
}

nav {
  display: flex;
}

nav ul {
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  align-items: center;
}

nav li {
  font-family: 'Gotham', Helvetica, sans-serif;
  font-size: .73rem;
  font-weight: 600;
  list-style: none;
  margin: 20px;
}

@media screen and (max-width: 600px) {
  nav li {
    margin: 20px 8px;
  }
}

nav li a {
  text-decoration: none;
  color: #726860;
  margin: 20px 0;
}

nav img {
  max-width: .73rem;
}

nav .row {
  margin: 0 auto;
  padding: 0;
}

hr {
  margin: 0;
}

.brand {
  margin: 20px 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand .row {
  margin: 0;
  padding: 0;
}

.brand .row .col {
  padding: 0;
}

.brand address, .brand p {
  font-family: Baskerville, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.1rem;
  text-align: center;
  color: #B6B2AD;
  margin: 0;
  display: flex;
}

@media screen and (max-width: 600px) {
  .brand address, .brand p {
    justify-content: center;
    margin: 40px 0;
    font-size: 1.3rem;
    line-height: 1.6rem;
  }
}

.brand img {
  max-width: 100%;
}

section h1 {
  font-family: Gotham, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 4px;
  color: #A90E1E;
  text-align: center;
  margin-bottom: 20px;
}

section hr {
  border: solid #ececec 1px;
  width: 15%;
  margin: 30px auto 50px;
}

@media screen and (max-width: 600px) {
  section hr {
    margin: 30px auto 0px;
  }
}

@media screen and (max-width: 600px) {
  section .menu {
    margin-top: -50px;
    margin-bottom: 30px;
  }
}

section h2 {
  font-family: Gotham, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 3px;
  color: #fffcf1;
  background-color: #A90E1E;
  text-align: center;
  padding: 15px;
  width: 65%;
  margin: 0 auto;
}

section p {
  font-family: Baskerville, 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  color: #726860;
  text-align: center;
  margin: 45px 0 100px;
  line-height: 1.8rem;
}

section .distanza {
  margin-bottom: 80px;
}

section .padd {
  margin-top: 50px;
}

@media screen and (max-width: 600px) {
  section .padd {
    margin-top: 0;
  }
}

section .relative {
  position: relative;
  top: 50%;
  margin: 0;
  display: flex;
  text-decoration: none;
  justify-content: center;
  color: #A90E1E;
  font-size: 3rem;
  text-align: center;
}

@media screen and (max-width: 600px) {
  section .relative {
    font-size: 2.5rem;
  }
}

#storia {
  margin: 1080px auto 180px;
}

@media screen and (max-width: 1024px) {
  #storia {
    margin: 660px auto 180px;
  }
}

@media screen and (max-width: 736px) {
  #storia {
    margin: 250px auto 180px;
  }
}

#storia p {
  font-family: Baskerville, 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  color: #726860;
  text-align: center;
  margin: 20px 0;
  line-height: 1.8rem;
}

#giornata {
  margin: 1080px auto 0;
  justify-content: space-evenly;
}

@media screen and (max-width: 1024px) {
  #giornata {
    margin: 660px auto 0;
  }
}

@media screen and (max-width: 736px) {
  #giornata {
    margin: 250px auto 0;
  }
}

@media screen and (max-width: 1024px) {
  #contatti .row {
    justify-content: center;
  }
}

#contatti p {
  font-family: Gotham, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
  color: #726860;
  text-align: center;
  margin: 30px 0 0 0;
}

#contatti :last-child {
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  #contatti :last-child :first-child {
    margin: 0;
  }
}

#contatti p {
  font-family: Gotham, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
  color: #726860;
  text-align: center;
  margin: 30px 0 0 0;
}

#contatti hr {
  margin: 20px auto 10px;
}

#contatti span address, #contatti span p {
  font-family: Baskerville, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: 300;
  font-size: 1rem;
  color: #B6B2AD;
  text-align: center;
  line-height: 1.3rem;
  margin: 0;
}

@media screen and (max-width: 600px) {
  #contatti span address, #contatti span p {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }
}

#contatti span header {
  margin: 80px auto;
}

#contatti header {
  margin: 80px auto;
}

#contatti .maps {
  height: 300px;
}

@media screen and (min-width: 1280px) {
  #contatti .maps {
    height: auto;
  }
}

.slider {
  position: relative;
  width: 100%;
  transition: all .5s ease;
}

.slider header {
  position: absolute;
  padding: 0 10%;
  top: 350px;
  color: #fff;
  width: 45%;
  left: 18%;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .slider header {
    width: 90%;
    top: 270px;
    left: -5%;
  }
}

@media screen and (max-width: 736px) {
  .slider header {
    width: 90%;
    top: 100px;
    left: -5%;
  }
}

.slider figure {
  height: 896px;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: 0;
  opacity: 0;
  transition: all 0.5s ease;
  position: absolute;
}

.slider figure.active {
  opacity: 1;
}

.slider figure.deactive {
  opacity: 0;
}

@media screen and (max-width: 1024px) {
  .slider figure {
    height: auto;
  }
}

.slider img {
  max-width: 100%;
}

.slider ol {
  position: absolute;
  top: 800px;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 2;
  list-style: disc;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .slider ol {
    top: 600px;
  }
}

@media screen and (max-width: 768px) {
  .slider ol {
    top: 440px;
  }
}

@media screen and (max-width: 736px) {
  .slider ol {
    top: 180px;
  }
}

.slider ol li {
  cursor: pointer;
  transition: all .3s ease;
  color: #fff;
  opacity: 0.4;
  font-size: 56px;
  padding: 0 .5rem;
  margin: 0 12px;
}

.slider ol li:hover, .slider ol li:focus, .slider ol li.active {
  opacity: 1;
}

.slider2 {
  position: relative;
  width: 100%;
  transition: all .5s ease;
}

.slider2 header {
  position: absolute;
  padding: 0 10%;
  top: 350px;
  color: #fff;
  width: 45%;
  left: 18%;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .slider2 header {
    width: 90%;
    top: 270px;
    left: -5%;
  }
}

@media screen and (max-width: 736px) {
  .slider2 header {
    width: 90%;
    top: 100px;
    left: -5%;
  }
}

.slider2 figure {
  height: 896px;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: 0;
  opacity: 0;
  transition: all 0.5s ease;
  position: absolute;
}

.slider2 figure.active {
  opacity: 1;
}

.slider2 figure.deactive {
  opacity: 0;
}

@media screen and (max-width: 1024px) {
  .slider2 figure {
    height: auto;
  }
}

.slider2 img {
  max-width: 100%;
}

.slider2 ol {
  position: absolute;
  top: 800px;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 2;
  list-style: disc;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .slider2 ol {
    top: 600px;
  }
}

@media screen and (max-width: 768px) {
  .slider2 ol {
    top: 440px;
  }
}

@media screen and (max-width: 736px) {
  .slider2 ol {
    top: 180px;
  }
}

.slider2 ol li {
  cursor: pointer;
  transition: all .3s ease;
  color: #fff;
  opacity: 0.4;
  font-size: 56px;
  padding: 0 .5rem;
  margin: 0 12px;
}

.slider2 ol li:hover, .slider2 ol li:focus, .slider2 ol li.active {
  opacity: 1;
}

footer#main-footer {
  width: 100%;
  min-height: 15rem;
  background: #A90E1E;
  margin-top: 100px;
}

footer {
  display: flex;
  flex-wrap: wrap;
}

footer .row {
  margin: 10px auto;
  padding: 0;
}

footer ul {
  width: 100%;
  justify-content: center;
  align-items: center;
}

footer img {
  max-width: .73rem;
}

footer li {
  font-family: 'Gotham', Helvetica, sans-serif;
  font-size: .73rem;
  font-weight: 600;
  list-style: none;
  margin: 20px;
}

@media screen and (max-width: 600px) {
  footer li {
    margin: 10px;
  }
}

footer li :hover {
  color: #fffcf1;
  transition: .3s;
}

footer li a {
  text-decoration: none;
  color: #840c1e;
}

footer li a img {
  height: 50px;
  max-width: 100%;
}

footer p {
  font-family: 'Gotham', Helvetica, sans-serif;
  font-size: .6rem;
  color: #840c1e;
  margin: 20px 0;
}
/*# sourceMappingURL=style.css.map */